.navglow{
    display: inline-block;
    color: black;
    text-decoration: none;
    /* border: 3px solid black; */
    border-radius: 10px;
    justify-content:space-around;
    font-weight: 300;
    /* margin-left: 20px;
    margin-right: 20px; */
}
#basic-navbar-nav{
    color: #718069;
}
.navbar-toggler-icon{
    color: whitesmoke;
}

#basic-nav-dropdown{
    color: whitesmoke;
    /* font-weight: bold;
    background-color: red; */
}

/* .navglow{
    background: #ffffff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1rem;

} */

.navglow:hover{
    animation: pulsate 1s
    ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #b6c6a7, 0 0 50px #718069;

    }
}